#left {
    width: 28vw;
    margin: 0px 15px 0px 35px;
    float: left;
}

#edit {
    height: 85vh;
    padding: 0px 15px 0px 30px;
    background-color: lightgray;
    border: 2px solid #000;
}

#preview {
    width: 25vw;
    height: 93vh;
    margin: 20px 0px 0px 15px;
    padding: 0px 15px 0px 30px;
    border: 2px solid #000;
    float: left;
}

#right {
    float: left;
    height: 93vh;
    width: 34vw;
    margin: 20px 0px 0px 30px;
    border: 2px solid #000;
    background-color: whitesmoke;
}

#settings {
    padding-left: 30px;
    height: 20vh;
    border-bottom: 2px solid #000;
}

#event {
    padding-left: 30px;
}

#events {
    height: 60vh;
    background-color: rgb(221, 218, 218);
    margin-right: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

span {
    font-size: 23px;
    margin-right: 3px;
}

button {
    font-size: 18px;
    margin-left: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.text {
    height: 23px;
    padding-top: 2px;
    margin-left: 7px;
    font-size: 18px;
    text-align: center;
}

.title {
    margin: 15px 5px 15px 0px;
    font-size: 30px;
}

.title2 {
    margin: 0 0 0 0;
    padding: 15px 0px 15px 0px;
    font-size: 30px;
}

.event {
    width: 88%;
    background-color: rgb(238, 238, 238);
    border: 3px ridge;
    height: 35px;
    margin: 0px 15px 0 17px;
    padding-left: 20px;
    padding-top: 10px;
}

.addevent {
    height: 80px;
    width: 88%;
    background-color: rgb(238, 238, 238);
    border: 3px ridge;
    margin: 15px 15px 15px 17px;
    padding-left: 20px;
    padding-top: 20px;
}

.bluebtn {
    font-size: 25px;
    background-color: lightskyblue;
    border: outset 3px;
    color: #fff;
    border-radius: 15%;
}

.redbtn {
    font-size: 18px;
    background-color: rgb(250, 135, 135);
    border: outset 3px;
    color: #fff;
    border-radius: 15%;
}

.event div {
    float: left;
    width: 32%;
    font-size: 18px;
}

.file {
    font-size: 16px;
    margin-left: 10px;
    width: 250px;
}